.ParkButton{
    float: left;
    text-align: center;
    margin: auto 10px;
}

.ParkButton Button{
    border: 0;
    padding: 0;
    min-width: 6vw;
    min-height: 4vh;
    font-size: 5vw;
/*     min-width: 300%; */
/*     min-height: 6vmin;
    max-height: 10vmin;
    min-width: 8vmin;
    max-width: 12vmin;
    font-size: 3vmin; */
    margin: 3px 3px;
    color: #000;
}
